* 
{
	font-family: 'ヒラギノ明朝 Pro W3','Hiragino Mincho Pro','ＭＳ Ｐ明朝','MS PMincho',serif;
	line-height: 1.25;
	font-size: 10pt;
}
html 
{
	height: 100%;
}
body 
{
    background-color: #ffffff;
    text-align: center;
	margin: 0;
}
img 
{
	margin: 0px;
	border: none;
}
.Base 
{
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.Button 
{
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	background-image: url('Images/btn01.png');
	background-repeat: repeat-x;
	color: #262626;
	height: 28px;
	border: 1px #707070 solid;
	font-weight: bold;
}
.Button:hover 
{
	background-image: url('Images/btn02.png');
	background-repeat: repeat-x;
	border: 1px #3c7fb1 solid;
}
.Button:active 
{
	background-image: url('Images/btn03.png');
	background-repeat: repeat-x;
	border: 1px #2c628b solid;
}
.baselink
{
	font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	color: #1c75bc;
	font-weight: bold;
}
a.baselink:link 
{
	color: #1c75bc;
	text-decoration: none;
}
a.baselink:visited 
{
	color: #1c75bc;
	text-decoration: none;
}
a.baselink:hover 
{
	color: #2b3338;
	text-decoration: underline;
}
a.baselink:active 
{
	color: #2b3338;
	text-decoration: underline;
}
@media screen{
	.printonly { display: inline; }
}
@media print{
	.noprint { display: none; }
}
