* 
{
	font-family: 'ÉqÉâÉMÉmäpÉS Pro W3', 'Hiragino Kaku Gothic Pro', 'ÉÅÉCÉäÉI', Meiryo, 'ÇlÇr ÇoÉSÉVÉbÉN', 'MS PGothic', sans-serif;
 	line-height: 1.25;
	font-size: 10pt;
}
html 
{
	height: 100%;
}
body 
{
	height: 100%;
	min-height: 100%;
	color: #0a0a0a;
    background-color: #ffffff;
    text-align: center;
	margin: 0;
}
input, select, textarea 
{
	color: #0a0a0a;
	background-color: #ffffff;
	font-weight: normal;
}
input[type="text"] 
{
	height: 1.25em;
	line-height: 1.25;
	border: 1px solid #7f9db9;
}
input[type="password"] 
{
	height: 1.25em;
	line-height: 1.25;
	border: 1px solid #7f9db9;
}
select 
{
	height: 1.7em;
	line-height: 1.7;
	border: 1px solid #7f9db9;
}
textarea 
{
	height: 50px;
	border: 1px solid #7f9db9;
}
img 
{
	margin: 0px;
	border: none;
}
.Must 
{
	color: #e72410;
	font-weight: bold;
}
.Comment 
{
	font-size: 9pt;
	color: #2d2f87;
}
.Example
{
	color: #1c485c;
}
.DispMultiLine 
{
	border: 1px solid #f8f8f8;
}
.TdTitle 
{
	background-color: #b8c3c8;
	color: #273034;
	font-weight: bold;
}
.TdTitleHeader
{
	background-color: #738891;
	color: #ffffff;
	font-weight: bold;
}
.TdItem 
{
	background-color: #ffffff;
	color: #0a0a0a;
	font-weight: normal;		
}
.TdTitleKaijo
{
	background-color: #b8c3c8;
	color: #273034;
	font-weight: bold;
}
.TdTitleKaijoDisp
{
	background-color: #738891;
	color: #ffffff;
	font-weight: bold;
}
.TdTitleKaijoDisp2
{
	background-color: #e1e1e1;
	color: #4e4e4e;
	font-weight: bold;
}
.TdTitleKaijoAnswer
{
	background-color: #e3e8eb;
	color: #273034;
	font-weight: bold;
}
.TdItemKaijo 
{
	background-color: #ffffff;
	color: #0a0a0a;
	font-weight: normal;
	padding-right: 5px;
}
.TdTitleSeisan1
{
	background-color: #b8c3c8;
	color: #273034;
	font-weight: bold;
	width: 80px;
}
.TdTitleSeisan2
{
	background-color: #e3e8eb;
	color: #273034;
	font-weight: bold;
	width: 130px;
}
.TdTitleSeisan3
{
	background-color: #e3e8eb;
	color: #273034;
	font-weight: bold;
	width: 180px;
}
.TdTitleSeisanKei
{
	background-color: #e3e8eb;
	color: #273034;
	font-weight: bold;
	width: 85px;
}
.TdItemSeisan1
{
	background-color: #ffffff;
	color: #0a0a0a;
	font-weight: normal;
	padding-right: 5px;
	width: 130px;
}
.ItemConfirm 
{
	background-color: #ffffff;
	color: #0a0a0a;
	font-weight: normal;
}
.Button 
{
	background-image: url('Images/btn01.png');
	background-repeat: repeat-x;
	color: #262626;
	height: 28px;
	border: 1px #707070 solid;
	font-weight: bold;
}
.Button:hover 
{
	background-image: url('Images/btn02.png');
	background-repeat: repeat-x;
	border: 1px #3c7fb1 solid;
}
.Button:active 
{
	background-image: url('Images/btn03.png');
	background-repeat: repeat-x;
	border: 1px #2c628b solid;
}
.ButtonCancel 
{
	background-image: url('Images/btn01.png');
	background-repeat: repeat-x;
	color: #ac0529;
	height: 28px;
	border: 1px #707070 solid;
	font-weight: bold;
}
.ButtonCancel:hover 
{
	background-image: url('Images/btn02.png');
	background-repeat: repeat-x;
	border: 1px #3c7fb1 solid;
}
.ButtonCancel:active 
{
	background-image: url('Images/btn03.png');
	background-repeat: repeat-x;
	border: 1px #2c628b solid;
}
.ButtonList 
{
	background-image: url('Images/btnlist01.png');
	background-repeat: repeat-x;
	color: #262626;
	height: 24px;
	border: 1px #707070 solid;
	font-weight: bold;
}
.ButtonList:hover 
{
	background-image: url('Images/btnlist02.png');
	background-repeat: repeat-x;
	border: 1px #3c7fb1 solid;
}
.ButtonList:active 
{
	background-image: url('Images/btnlist03.png');
	background-repeat: repeat-x;
	border: 1px #2c628b solid;
}
.baselink
{
	color: #1c75bc;
	font-weight: bold;
}
a.baselink:link 
{
	color: #1c75bc;
	text-decoration: none;
}
a.baselink:visited 
{
	color: #1c75bc;
	text-decoration: none;
}
a.baselink:hover 
{
	color: #2b3338;
	text-decoration: underline;
}
a.baselink:active 
{
	color: #2b3338;
	text-decoration: underline;
}
.FontSize1 
{
	font-size: 1pt;
}
.NoData 
{
	color: #bd3021;
	font-weight: bold;
}
a.link:link 
{
	font-weight: bold;
	color: #262626;
	text-decoration: none;
}
a.link:visited 
{
	font-weight: bold;
	color: #262626;
	text-decoration: none;
}
a.link:hover 
{
	font-weight: bold;
	color: #397bcd;
	text-decoration: underline;
}
a.link:active 
{
	font-weight: bold;
	color: #397bcd;
	text-decoration: underline;
}
a.linkpwr:link 
{
	font-weight: bold;
	font-size: 9pt;
	color: #397bcd;
	text-decoration: none;
}
a.linkpwr:visited 
{
	font-weight: bold;
	font-size: 9pt;
	color: #397bcd;
	text-decoration: none;
}
a.linkpwr:hover 
{
	font-weight: bold;
	font-size: 9pt;
	color: #397bcd;
	text-decoration: underline;
}
a.linkpwr:active 
{
	font-weight: bold;
	font-size: 9pt;
	color: #397bcd;
	text-decoration: underline;
}
a.menulink:link 
{
	font-weight: bold;
	color: #415259;
	text-decoration: none;
}
a.menulink:visited 
{
	font-weight: bold;
	color: #415259;
	text-decoration: none;
}
a.menulink:hover 
{
	font-weight: bold;
	color: #c60000;
	text-decoration: underline;
}
a.menulink:active 
{
	font-weight: bold;
	color: #c60000;
	text-decoration: underline;
}
a.toplink:link 
{
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
a.toplink:visited 
{
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}
a.toplink:hover 
{
	font-weight: bold;
	color: #dff2df;
	text-decoration: underline;
}
a.toplink:active 
{
	font-weight: bold;
	color: #dff2df;
	text-decoration: underline;
}
.pagerlink a
{
	font-weight: bold;
	color: #ffffff;
	border: 1px #6e7f88 solid;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	padding: 1px 4px 1px 4px;
	display: block;
}
.pagerlink a:link 
{
	color: #ffffff;
	background-color: #8297a1;
}
.pagerlink a:visited 
{
	color: #ffffff;
	background-color: #8297a1;
}
.pagerlink a:hover 
{
	color: #ffffff;
	background-color: #505d64;
}
.pagerlink a:active 
{
	color: #ffffff;
	background-color: #505d64;
}
.disp
{
	background-color: #e3e6e7;
	border: 0 none;
}