<?xml version="1.0" encoding="utf-8" ?>

<configuration>
  <!-- ===================================================================== -->
  <!--                      構成ファイルの設定                               -->
  <!-- ===================================================================== -->

  <!-- log4netセクションのハンドラ設定 -->
  <!-- log4netセクションのハンドラ設定 -->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <!-- log4net内部のデバッグメッセージを出力する場合、trueに設定 -->
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>


  <log4net>

    <!-- ===================================================================== -->
    <!--                 ログ出力先の設定(アペンダーの設定)                    -->
    <!-- ===================================================================== -->
    <!-- ▼コンソール出力用[ConsoleAppender] -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss} %-5p %m%n" />
      </layout>
    </appender>

    <!-- ▼ファイル出力 監視ログ -->
    <appender name="KANSHI" type="log4net.Appender.RollingFileAppender">
      <!-- ファイル名 -->
      <param name="File" value="C:\LOG\BAYER\KANSHI\KANSHI.log" />
      <!-- 追記する場合true/上書きする場合false -->
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="RollingStyle" value="composite" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd	HH:mm:ss}	%-5p	%m%n" />
      </layout>
      <Encoding value="UTF-8"/>
      <!-- ログのローテーションファイル数 -->
      <param name="maxSizeRollBackups" value="5" />
    </appender>

    <!-- ▼ファイル出力 詳細ログ -->
    <appender name="SHOSAI" type="log4net.Appender.RollingFileAppender">
      <!-- ファイル名 -->
      <param name="File" value="C:\LOG\BAYER\SHOSAI\SHOSAI.log" />
      <!-- 追記する場合true/上書きする場合false -->
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="RollingStyle" value="composite" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd	HH:mm:ss}	%-5p	%m%n" />
      </layout>
      <Encoding value="UTF-8"/>
      <!-- ログのローテーションファイル数 -->
      <param name="maxSizeRollBackups" value="5" />
    </appender>

    <!-- ▼ファイル出力 SQLログ -->
    <appender name="SQL" type="log4net.Appender.RollingFileAppender">
      <!-- ファイル名 -->
      <param name="File" value="C:\LOG\BAYER\SQL\SQL.log" />
      <!-- 追記する場合true/上書きする場合false -->
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="RollingStyle" value="composite" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd	HH:mm:ss}	%-5p	%c	%m%n" />
      </layout>
      <Encoding value="UTF-8"/>
      <!-- ログのローテーションファイル数 -->
      <param name="maxSizeRollBackups" value="5" />
    </appender>

    <!-- ▼ファイル出力 デバッグログ -->
    <appender name="DEBUG" type="log4net.Appender.RollingFileAppender">
      <!-- ファイル名 -->
      <param name="File" value="C:\LOG\BAYER\DEBUG\DEBUG.log" />
      <!-- 追記する場合true/上書きする場合false -->
      <param name="AppendToFile" value="true" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="RollingStyle" value="composite" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy/MM/dd	HH:mm:ss}	%-5p	%c	%m%n" />
      </layout>
      <Encoding value="UTF-8"/>
      <!-- ログのローテーションファイル数 -->
      <param name="maxSizeRollBackups" value="5" />
    </appender>

    <!-- ▼メール送信 -->
    <appender name="SMTP" type="log4net.Appender.SMTPAppender">
      <param name="To" value="akijitani@ml.keiwa-biz.co.jp" />
      <param name="From" value="akijitani@gmail.com" />
      <param name="Subject" value="精算ファイル作成でエラー発生(テスト)" />
      <param name="SmtpHost" value="192.45.10.51" />
      <param name="LocationInfo" value="false" />
      <param name="BufferSize" value="8" />
      <param name="Lossy" value="true" />
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ALL"/>
      </evaluator>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c [%x] - %m%n" />
      </layout>
      <Encoding value="UTF-8"/>
    </appender>

    <!-- ===================================================================== -->
    <!--     ログ出力の対象レベルと出力先の設定                                -->
    <!-- ===================================================================== -->
    <!-- ===================================================================== -->
    <!--     ▼Rootの設定                                                      -->
    <!--       ※デフォルトとなるログ出力設定                                  -->
    <!-- ===================================================================== -->
    <root>
      <!-- RootはERROR以上を出力 -->
      <level value="ERROR" />
      <!-- コンソール出力 -->
      <!-- <appender-ref ref="ConsoleAppender" /> -->
    </root>
    <!-- ===================================================================== -->
    <!--     ▼Loggerの設定                                                    -->
    <!--       ※名前空間ごとに異なるレベルやアペンダーを選択したい場合に設定  -->
    <!-- ===================================================================== -->

    <!-- 詳細ログ-->
    <logger name="SHOSAI">
      <level value="ALL" />
      <!-- ファイル出力 -->
      <appender-ref ref="SHOSAI" />
    </logger>

    <!-- 監視ログ-->
    <logger name="KANSHI">
      <level value="DEBUG" />
      <!-- ファイル出力 -->
      <appender-ref ref="KANSHI" />
    </logger>

    <!-- SQLログ-->
    <logger name="SQL">
      <level value="DEBUG" />
      <!-- ファイル出力 -->
      <appender-ref ref="SQL" />
    </logger>

    <!-- デバッグログ-->
    <logger name="DEBUG">
      <level value="DEBUG" />
      <!-- ファイル出力 -->
      <appender-ref ref="DEBUG" />
    </logger>

    <!-- エラーメール送信-->
    <logger name="SMTP">
      <level value="ALL" />
      <!-- ファイル出力 -->
      <appender-ref ref="SMTP" />
    </logger>
    
  </log4net>
</configuration>
