<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ImportKouenkai.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- このセクションでは、My.Application.Log のログ構成を定義します。 -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除します -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- アプリケーション イベント ログに書き込むには、以下のセクションのコメントを解除して、APPLICATION_NAME をアプリケーション名に置き換えます -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <appSettings>
      <!--DB接続情報-->
      <add key="ConnectionString" value="data source=172.17.2.98;initial catalog=BAYER_DEMO;user id=BAYER_DEMO;Password=BAYER_DEMO" />
    </appSettings>
    <userSettings>
        <ImportKouenkai.My.MySettings>
            <setting name="PATH_RECEIVE" serializeAs="String">
                <value>C:\Keiwa\Bayer\request\general</value>
            </setting>
            <setting name="FILE_NAME" serializeAs="String">
                <value>reqgnl</value>
            </setting>
            <setting name="PATH_WORK" serializeAs="String">
                <value>C:\Keiwa\Bayer\Work\request\general</value>
            </setting>
            <setting name="PATH_RECEIVE_BKUP" serializeAs="String">
                <value>C:\Keiwa\Bayer\requestBkup</value>
            </setting>
            <setting name="NG_MOJI" serializeAs="String">
                <value>鷗</value>
            </setting>
        </ImportKouenkai.My.MySettings>
    </userSettings>
</configuration>
